.header {
    background: url("../img/decor/setup-bg.jpg") 50% 45% / cover no-repeat;
    padding-top: 40px;
}

.header__top {}

.header__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.header__logo {
    display: block;
    max-width: 260px;
    padding: 5px 0px;
}


.nav {}

.nav__list {
    font-size: 22px;
    line-height: 1.2;
    color: var(--second-text);
    display: flex;
    gap: 45px;
}

.nav__item {}

.nav__link {
    display: block;
    padding: 5px 0;
    transition: var(--transition);
}

.nav__link:hover {
    color: var(--accent-color);
}


.header__control {
    display: flex;
    gap: 22px;
}

.header__control svg {
    display: block;
}

.header__control path {
    transition: var(--transition);
}

.header__search-icon,
.header__cart-icon {
    padding: 5px 0px;
}

.header__search-icon:hover path,
.header__cart-icon:hover path {
    stroke: var(--accent-color);
}

.header__search-icon {}

.header__cart-icon {}

/* ==================================================== */

.hero {}

.hero__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 447px;
}

.hero__title {
    font-weight: 800;
    font-size: 43px;
    line-height: 103%;
    color: var(--second-text);
    text-transform: uppercase;
    margin-bottom: 35px;
}

.hero__button {
    color: var(--second-text);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.25;
    background: var(--second-bg);
    border-radius: 35px;
    padding: 20px 44px;
    transition: var(--transition);
}

.hero__button:hover {
    background: var(--accent-color);
}

.hero__text {
    font-size: 22px;
    line-height: 1.3;
    text-align: center;
    color: var(--second-text);
    max-width: 676px;
}