@import "fonts.css";
@import "reset.css";
@import "global.css";

@import "header.css";
@import "footer.css";


/* ==================================================== */


.features {
    background: #FFF;
}

.features__inner {
    display: flex;
    gap: 20px;
}

.features__item {}

.features__img {
    border-radius: var(--border-radius);
    overflow: hidden;
    margin-bottom: 13px;
}

.features__img img {
    width: 100%;
}

.features__title {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.26;
    text-transform: uppercase;
    margin-bottom: 23px;
}

.features__text {
    max-width: 389px;
    line-height: 1.25;
    margin-bottom: 20px;
}

.features__text p {
    margin-bottom: 15px;
}

.features__text p:last-child {
    margin-bottom: 0;
}

.features__links {
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    text-transform: uppercase;
}

.features__links-item {
    margin-bottom: 6px;
}

.features__links-item:last-child {
    margin-bottom: 0;
}

.features__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 5px 0px;
    transition: var(--transition);
}

.features__link:hover {
    color: var(--accent-color);
}

.features__link line {
    transition: var(--transition);
}

.features__link:hover line {
    stroke: var(--accent-color);
}


/* ==================================================== */


.review {
    background: var(--second-bg);
    position: relative;
}

.review__inner {
    display: flex;
}

.review__content {
    max-width: 890px;
    color: var(--second-text);
}

.review__title {
    margin-bottom: 40px;
}

.review__text {
    max-width: 670px;
}

.review__text p {
    margin-bottom: 28px;
}

.review__text p:last-child {
    margin-bottom: 0;
}

.review__img {
    overflow: hidden;
}

.review__img {
    max-width: 680px;
    position: absolute;
    bottom: 0px;
    right: 100px;
}

.review__img img {
    width: 100%;
}


/* ==================================================== */


.categories {
    background: #FFF;
}

.categories__slider {
    overflow: hidden;
}

.categories__wrapper {
    margin-bottom: 35px;
}

.categories__slide {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 215px);
    gap: 20px;
}

.categories__slide-item {
    background: var(--general-bg);
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden;
    transition: var(--transition);
}

.categories__slide-item:hover {
    transform: scale(1.02);
}

.categories__slide-item-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.categories__slide-item-3 {
    grid-row: -3 / -1;
}

.categories__slide-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 100%;
}

.categories__slide-img {
    position: absolute;
}

.categories__slide-img img {
    max-width: 100%;
}

.categories__slide-item-1 .categories__slide-img {
    max-width: 690px;
    top: 12%;
    left: 5.5%;
}

.categories__slide-item-2 .categories__slide-img {
    max-width: 238px;
    bottom: -12.3%;
    right: 0;
}

.categories__slide-item-3 .categories__slide-img {
    max-width: 250px;
    top: 9.5%;
    left: 19%;
}

.categories__slide-item-4 .categories__slide-img {
    max-width: 350px;
    bottom: 12%;
    left: 5%;
}

.categories__slide-item-5 .categories__slide-img {
    max-width: 252px;
    bottom: 29%;
    left: 15.5%;
}

.categories__slide-text {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.4;
    text-transform: uppercase;
    color: var(--general-text);
    margin-bottom: 20px;
    transition: var(--transition);
}

.categories__slide-item:hover .categories__slide-text {
    color: var(--accent-color);
}

.categories__slide-item-2 .categories__slide-text {
    margin: 20px 0px auto
}


.categories__pagination {
    position: static;
}

.categories__pagination .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background: var(--second-bg);
    margin: 0px 7.5px !important;
    opacity: 1;
    transition: var(--transition);
}

.categories__pagination .swiper-pagination-bullet-active {
    border: 2.5px solid var(--second-bg);
    background: transparent;
}

.categories__prev,
.categories__next {
    color: var(--second-bg);
}

.categories__prev {}

.categories__next {}


/* ==================================================== */



/* ==================================================== */


.testiomonials {}

.testimonials__title {
    margin-bottom: 27px;
}

.testimonials__inner {}

.testimonials__item {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    padding: 40px 0px;
    border-bottom: 1px solid #ABABAB;
}

.testimonials__item:first-child {
    justify-content: stretch;
}

.testimonials__item:first-child .testimonials__rate span {
    font-size: 30px;
}

.testimonials__rate {
    font-size: 20px;
    line-height: 1.5;
}

.testimonials__stars {}

.testimonials__button {
    background: transparent;
    font-size: 24px;
    line-height: 1.25;
    padding: 17px 40px;
    border: 1px solid var(--general-text);
    border-radius: 3px;
    transition: var(--transition);
}

.testimonials__button:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.testimonials__user-name {
    display: block;
    margin-bottom: 15px;
}

.testimonials__content {
    max-width: 783px;
}

.testimonials__content-heading {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.testimonials__content-heading span {
    font-weight: 700;
}

.testimonials__content-text {
    margin-bottom: 25px;
}

.testimonials__content-images {
    display: flex;
    gap: 20px;
    border-radius: var(--border-radius);
    margin-bottom: 15px;
}

.testimonials__content-img {
    border-radius: 3px;
    overflow: hidden;
    transition: var(--transition);
}

.testimonials__content-img img{
    width: 100%;
}

.testimonials__content-img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.testimonials__content-image-text {
    display: block;
    color: var(--accent-color);
    margin-bottom: 2px;
    transition: var(--transition);
    margin-top: auto;
    max-width: 161px;
}

.testimonials__content-image-text span {
    display: block;
    background: var(--accent-color);
    height: 2px;
    width: 100%;
    transition: var(--transition);
}

.testimonials__content-image-text:hover span {
    display: none;
}

.testimonials__date {
    line-height: 1.5;
    color: #909090;
}


/* ==================================================== */

.faq {
    background: #FFF;
}

.faq__title {
    margin-bottom: 58px;
}

.accordion__list {}

.accordion-list__item {
    border-top: 1px solid #ABABAB;
}

.accordion-list__item:last-child {
    border-bottom: 1px solid #ABABAB;
}

.accordion-list__control {
    width: 100%;
    background: transparent;
    text-align: left;

    display: flex;
    justify-content: space-between;
    gap: 15px;

    font-size: 20px;
    line-height: 1.5;
    padding: 34px 0px;
    transition: var(--transition);
}

.accordion-list__item--opened .accordion-list__control {
    padding-bottom: 50px;
}

.accordion-list__title {
    font-size: 20px;
    line-height: 1.5;
    transition: var(--transition);
}

.accordion-list__item--opened .accordion-list__title {
    font-weight: 500;
}

.accordion-list__control-icon {
    display: flex;
    align-items: center;
    transition: var(--transition);
}

.accordion-list__item--opened .accordion-list__control-icon {
    transform: rotate(45deg);
}

.accordion-list__control-icon span {
    display: block;
    width: 36px;
    height: 2px;
    background: var(--general-text);
    transition: var(--transition);
}

.accordion-list__control-icon span::before {
    content: '';
    display: block;
    width: 36px;
    height: 2px;
    background: var(--general-text);
    transform: rotate(90deg);
    transition: var(--transition);
}

.accordion-list__control:hover .accordion-list__control-icon span,
.accordion-list__control:hover .accordion-list__control-icon span::before {
    background: var(--accent-color);
}

.accordion-list__item--opened .accordion-list__control-icon span,
.accordion-list__item--opened .accordion-list__control-icon span::before {
    background: var(--accent-color);
}

.accordion-list__content {
    max-width: 908px;
    max-height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.accordion-list__item--opened .accordion-list__content {
    margin-bottom: 50px;
}

.accordion-text {}


/* ==================================================== */



.news {}

.news__title {
    margin-bottom: 70px;
}

.news__item {
    min-height: 567px;
    display: flex;
    flex-direction: column;
}

.news__list {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 80px;
}

.news__img img {
    border-radius: var(--border-radius);
    overflow: hidden;
    margin-bottom: 30px;
}

.news__img img {}

.news__date {
    display: block;
    color: #909090;
    line-height: 1.5;
    margin-bottom: 20px;
}

.news__item-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 15px;
}

.news__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.news__text {
    line-height: 1.2;
    margin-bottom: 20px;
}

.news__link {
    color: var(--accent-color);
    margin-bottom: 2px;
    transition: var(--transition);
    margin-top: auto;
}

.news__link span {
    display: block;
    background: var(--accent-color);
    height: 2px;
    width: 100px;
    transition: var(--transition);
}

.news__link:hover span {
    display: none;
}

.news__button {
    font-size: 24px;
    border: 1px solid #2a2a2a;
    border-radius: var(--border-radius);
    display: inline-flex;
    justify-content: center;
}